<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmut.admin.googlemapapitest">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".MyApplication"
        android:icon="@drawable/app_icon"
        android:allowBackup="false"
        android:label="@string/appicationName"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.hcmut.admin.googlemapapitest.ui.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.hcmut.admin.googlemapapitest.ui.MapActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.hcmut.admin.googlemapapitest.ui.rating.RatingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.hcmut.admin.googlemapapitest.ui.rating.photo.PreViewPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.hcmut.admin.googlemapapitest.ui.rating.detailReport.DetailReportActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="detail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.hcmut.admin.googlemapapitest.ui.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.InformationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.question.QuestionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.question.QuestionDetailActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbiDKZxP7G6JL30ec2gii9_2FaMEM0Efg" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--firebase-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

         <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <!-- [START firebase_service] -->
         <service
            android:name="com.hcmut.admin.googlemapapitest.model.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
         </service>
        <!-- [END firebase_service] -->

        <service android:name=".modules.probemodule.service.AppForegroundService"/>
    </application>

</manifest>
